$colorSelectSite: #F16D7F;
$defNavMenuItemColor: #E8E8E8;
$backBlock: #222222;
$colorText: #000;
$widthSite: 1140px;
$gapGrid: 30px;
$gapNavMenuItems: 41px;
$thirdSite: ($widthSite - $gapGrid * 2) /3 ;
$widthMenuBurger: 232px;